[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
# Пример зависимостей, замени на свои или добавь нужные
requests = "*"
flask = "==2.2.3"

[dev-packages]
# Пакеты для разработки, если нужны